In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# load the dataset
df=pd.read_csv('./data/EdgeFile-Pfizer-50.csv')

In [4]:
df

,Local,Remote,Type,Inbound count,Outbound count,Created,Last inbound,Last outbound,TrustScore,Monthly inbound,Monthly outbound,Media,Days ago
0,1483@2.test,10594@2.test,wl,3,3,6/01/2020 18:19,22/09/2020 17:54,22/09/2020 18:28,15,3.000000e+03,1.000000e+11,em,201
1,3239@2.test,11029@2.test,wl,1,1,6/01/2020 18:30,23/10/2020 21:27,6/01/2020 18:30,15,1.000000e+02,0.000000e+00,em,170
2,12037@2.test,14194@2.test,wl,2,6,6/01/2020 18:35,21/08/2020 15:50,21/08/2020 16:24,15,2.000000e+04,1.000000e+11,em,233
3,23237@2.test,3161@2.test,wl,2,0,6/01/2020 18:37,11/08/2020 12:58,6/01/2020 18:37,0,1.000000e+11,0.000000e+00,em,243
4,3935@2.test,320922@2.test,wl,9,0,6/01/2020 18:56,4/11/2020 16:24,6/01/2020 18:56,0,1.010000e+11,0.000000e+00,em,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34417,3921@2.test,86222@2.test,wl,2,1,11/11/2020 1:35,11/11/2020 1:35,11/11/2020 1:35,15,1.010000e+03,1.000000e+03,em,152
34418,3971@2.test,50993@2.test,wl,0,1,11/11/2020 2:12,11/11/2020 2:12,11/11/2020 2:12,0,0.000000e+00,1.000000e+01,em,152
34419,34885@2.test,115065@2.test,wl,1,0,11/11/2020 2:42,11/11/2020 2:42,11/11/2020 2:42,0,1.000000e+01,0.000000e+00,em,151
34420,14976@2.test,16653@2.test,wl,1,2,11/11/2020 2:59,11/11/2020 2:59,11/11/2020 2:59,10,1.000000e+01,2.000000e+04,em,151
34421,3935@2.test,3264@2.test,wl,3,0,11/11/2020 6:32,11/11/2020 6:32,11/11/2020 6:32,0,2.001000e+04,0.000000e+00,em,151